@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: black;
scroll-behavior: smooth;
overflow-x: hidden;
}
@media(max-width: 992px){
 .res{
 
  left: 100px;
 }
  }
  @media(max-width: 862px){
    .res{
     
     left: 70px;
    }
     }
     @media(max-width: 798px){
      .res{
       
       left: 20px;
      }
       }
  
      
      @keyframes grow {
        0%,
        100% {
          transform: scaleY(0.3);
        }
      
        50% {
          transform: scaleY(1);
        }
      }
      .animate-floating1 {
        animation: floating 1s ease-in-out infinite;
      }
      @keyframes floating {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(
            -8px
          ); /* Adjust this value to control the amount of movement */
        }
      }   
      .race-by {
        --uib-size: 100px;
        --uib-speed: 1.4s;
        --uib-color: white;
        --uib-line-weight: 5px;
      
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--uib-line-weight);
        width: var(--uib-size);
        border-radius: calc(var(--uib-line-weight) / 2);
        overflow: hidden;
        transform: translate3d(0, 0, 0);
      }
      
      .race-by::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--uib-color);
        opacity: 0.1;
      }
      
      .race-by::after {
        content: "";
        height: 100%;
        width: 100%;
        border-radius: calc(var(--uib-line-weight) / 2);
        animation: raceBy var(--uib-speed) ease-in-out infinite;
        transform: translateX(-100%);
        background-color: var(--uib-color);
      }
      
      @keyframes raceBy {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
        }
      }
      *{
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
      }